<main [ngClass]="layoutClass">
    <section class="Adminconta-section" [ngClass]="headerClass">
        <h2>{{ title }}</h2>

        <div class="alinha-img">
            <img src="assets/svg/UserIcon.svg" width="175" />
            <p>{{ nomeUsuario }}</p>

            <button routerLink="/admincadastroOs" class="botao-ativo" [ngClass]="buttonClass">
                {{ SecondBtnText }}
            </button>
        </div>
    </section>

    <section class="main-section" [ngClass]="mainClass">
        <h1>{{ title2 }}</h1>
        <ng-content></ng-content>
    </section>
</main>
