input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    background: white;
    outline: none;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
}
