
form {
    width: 90%;
    
}
button {
    
    background-color: #38b6ff;
    color: white;
    width: 200px;
    padding: 12px;
    font-size: 16px;
    font-weight: 100;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto; 
}
form p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 5px;
    font-family: sans-serif;
}
h2{
    margin-bottom: 10px;
    margin-bottom: 8px;
    margin-left: 5px;
    font-family: sans-serif;
}
