main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}


.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo span {
  color: #2ea8ff;
}


.login-section {
  width: 340px;
  background: #e8e8e8;
  padding: 30px 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.login-section h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}


.checkbox-area {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.checkbox-area label {
  margin-left: 6px;
}


.login-section button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: #35a7ff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.login-section button:hover {
  background: #0284ff;
}