* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.logo span {
  color: #2d9cff;
}

.nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.login-btn {
  background-color: #2d9cff;
  color: white;
  border: none;
  padding: 8px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  max-width: 450px;
}

.left h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 100px;
}

.left p {
  font-size: 20px;
  color: #444;
}

.right img {
  width: 450px;
}
