.main-conta {
  background-color: #f5f5f5;
}

.os-cards-container {
  display: block;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}


.os-card {
  width: 650px;
  background: #e5e5e5;
  padding: 15px;
  margin: 20px;
  gap: 100px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.pc-img {
  width: 10%;
  border-radius: 8px;
}

.os-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.os-card p {
  font-size: 20px;
  color: #444;
  margin-bottom: 15px;
}

.btn-reparo {
  width: 100%;
  padding: 8px;
  background: #4ab8ff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-reparo:hover {
  opacity: .8;
}

/* Card de adicionar PC */
.add-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plus {
  font-size: 200px;
  color: gray;
  margin-bottom: 30px;
}

.card-buttons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.btn-excluir {
  flex: 1;
  padding: 5px;
  background: #ff3b3b;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-excluir:hover {
  opacity: 0.8;
}

main {

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 40px;


}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;

    width: 800px;
    min-height: 500px;
    padding: 40px;

    background-color: #F5F5F5;
    margin-left: 40px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);

}

.conta-section {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin-left: 20px;

}

.alinha-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px
}

.alinha-img p {
    margin: 5px 0 15px 0;
    font-size: 18px;
}


h2 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    color: #38b6ff;
    margin-bottom: 50px;
    align-self: flex-start
}

h1 {
    font-family: sans-serif;
    color: #38b6ff;


}

p {
    font-family: sans-serif;
    font-weight: bold;


}

button {
    font-size: 16px;
    background-color: #38b6ff;
    width: 250px;
    padding: 12px;
    border-radius: 200px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    color: black;


}

.botao-ativo {
    background-color: #38b6ff;
    color: white;

}

.botao-inativo {
    background-color: #d3d3d3;

}

.botao-inativo:hover {
    background: gray;
}

.botao-ativo:hover {
    background: #0284ff;
}